[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr%Creset by %Cblue%cn%Creset)' --abbrev-commit --date=relative
	ls = diff-tree --no-commit-id --name-only -r 
	s = status
	pl = pull --rebase
	tagcommit = !sh -c 'git rev-list $0 | head -n 1'
[color]
	ui = true
